[submodule "oh-my-zsh"]
    path = oh-my-zsh
    url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "nerdtree"]
    path = vim/bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree.git
[submodule "syntastic"]
    path = vim/bundle/syntastic
    url = https://github.com/scrooloose/syntastic.git
[submodule "tlib_vim"]
    path = vim/bundle/tlib_vim
    url = https://github.com/tomtom/tlib_vim.git
[submodule "vim-addon-mw-utils"]
    path = vim/bundle/vim-addon-mw-utils
    url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim-colors-solarized"]
    path = vim/bundle/vim-colors-solarized
    url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim-javascript"]
    path = vim/bundle/vim-javascript
    url = https://github.com/pangloss/vim-javascript.git
[submodule "vim-jsbeautify"]
    path = vim/bundle/vim-jsbeautify
    url = https://github.com/maksimr/vim-jsbeautify.git
[submodule "vim-matchit"]
    path = vim/bundle/vim-matchit
    url = https://github.com/tsaleh/vim-matchit.git
[submodule "vim-snipmate"]
    path = vim/bundle/vim-snipmate
    url = https://github.com/garbas/vim-snipmate.git
[submodule "vim-surround"]
    path = vim/bundle/vim-surround
    url = git://github.com/tpope/vim-surround.git
[submodule "vim-textmanip"]
    path = vim/bundle/vim-textmanip
    url = https://github.com/t9md/vim-textmanip
[submodule "bootstrap-snippets"]
	path = vim/bundle/bootstrap-snippets
	url = git://github.com/bonsaiben/bootstrap-snippets.git
[submodule "command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim-jsdoc"]
	path = vim/bundle/vim-jsdoc
	url = https://github.com/heavenshell/vim-jsdoc.git
[submodule "vim-phpdoc"]
	path = vim/bundle/vim-phpdoc
	url = https://github.com/stephpy/vim-phpdoc.git
[submodule "vim/bundle/jasmine"]
	path = vim/bundle/jasmine
	url = git://github.com/claco/jasmine.vim.git
[submodule "vim/bundle/vim-jst"]
	path = vim/bundle/vim-jst
	url = https://github.com/briancollins/vim-jst.git
[submodule "osx-terminal.app-colors-solarized"]
	path = osx-terminal.app-colors-solarized
	url = https://github.com/tomislav/osx-terminal.app-colors-solarized.git
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/bundle/vim-css-color"]
	path = vim/bundle/vim-css-color
	url = https://github.com/skammer/vim-css-color.git
[submodule "vim/bundle/vim-css3-syntax"]
	path = vim/bundle/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "vim/bundle/powerline"]
  path = vim/bundle/powerline
  url = https://github.com/Lokaltog/powerline.git
[submodule "vim/bundle/vim-laravel4-snippets"]
	path = vim/bundle/vim-laravel4-snippets
	url = https://github.com/markwu/vim-laravel4-snippets.git
[submodule "vim/bundle/emmet-vim"]
	path = vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/tcomment_vim"]
	path = vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule ".fonts/powerline-fonts"]
	path = .fonts/powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
